body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #ddd;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-container input,
.input-container select {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #222;
    color: #ddd;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#resultContainer {
    text-align: center;
    margin-top: 20px;
}

#convertedTemperature {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: #444;
    padding: 10px 20px;
    border-radius: 5px;
}


.select-container {
    position: relative;
}

.select-container::after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.select-container.open::after {
    transform: translateY(-50%) rotate(180deg);
}

.select-options {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    right: 0;
    background-color: #222;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.select-container.open .select-options {
    max-height: 200px;
    opacity: 1;
}

.select-option {
    padding: 10px;
    cursor: pointer;
    color: #ddd;
}

.select-option:hover {
    background-color: #333;
}
